SQL_SA_PASSWORD= YourStrongSqlPassword
DATABASE_NAME= ECommerceOrderManagementDb

RABBITMQ_USERNAME= your-rabbitmq-username
RABBITMQ_PASSWORD= your-rabbitmq-password

JWT_SECRET_KEY= your-jwt-secret-key

IYZICO_API_KEY= your-iyzico-api-key
IYZICO_SECRET_KEY= your-iyzico-secret-key

EMAIL_USERNAME= your-email-username
EMAIL_PASSWORD= your-email-password
EMAIL_FROM_EMAIL= your-email-address